*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    }
    
 

/* Portfolio Grid section */
.container{
    /* background-color: lightcoral; */
    width:100%;
    /* height:100vh; */
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
          "landing-page"
          "content"
          "about-m"
          "footer"; 
  }

  .landing-page h3 {
    max-width: 500px;
    text-align: center;
    font-size: 5em;
    color: rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    /* margin-right: 100px; */
    letter-spacing: 5px;
}
.landing-page #one {
    max-width: 400px;
    margin-top: .05em;
    text-align: center;
    font-size: 5em;
    color: rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    /* margin-left: 200px; */
    letter-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
}
header {
    width:110%;
}


  h3 {
    font-size: 20;
  }

.image-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    padding: 10px;
    /* padding-top: 1000px; */
    /* padding-bottom: 200px; */
    /* background: #FFF; */
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    ;
}

.landing-page{
    grid-area:landing-page;
    height:100vh;
}
.content{
    grid-area:content;
    /* max-width:1920px; */
    /* max-height:50px; */
    margin-bottom: 0px;
    margin: 0 auto;
    text-align: center;
    /* background: red; */
    }
  
.box-styling {
    /* border: 1px solid blue; */
    margin: 0 auto;
    width:500px;
    height: 500px;
    background-color: rgb(110, 110, 110);
    /* clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
}

.box-wrapper{
  height:450px;
  /* border-radius: 1%; */
}
.box1 {
    grid-area: a;

}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
}

.box4 {
    grid-area: d;
}

.box5 {
    grid-area: e;
}

.box6 {
    grid-area: f;
}

.bigText {
    font-size: 2em;
    padding-right: .5ch;
}
/* End of portfolio grid */
/* About Me grid */
.about-m{
    grid-area:about-m;
    /* max-width:1920px; */
    /* max-height:50px; */
    margin-bottom: 0px;
    margin: 100 auto;
    text-align: center;
    /* background: red; */
    }
    
.about-me{
    display: grid;
    background-color: orangered;
    padding: 10px;
    /* grid-gap: .5px; */
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "a"
    "b";
}
.about-me img{
  width: 50%;
}


.image {
grid-area: a;
}

.text{
grid-area: b;
}
/* End of About Me grid */

   /* DESKTOP GRID */
   @media only screen and (min-width: 1200px){
    .container{
      background-color: lightcoral;
      width:100%;
      /* height:100vh; */
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
            "header header"
            "landing-page landing-page"
            "content content"
            "about-m about-m"
            "footer footer"; 
    }

    
    .landing-page h3 {
        max-width: 1000px;
        text-align: center;
        font-size: 9em;
        color: rgb(0, 0, 0);
        font-family: 'Kanit', sans-serif;
        font-weight: 700;
        margin-right: 150px;
        letter-spacing: 5px;
    }
    .landing-page #one {
        max-width: 600px;
        margin-top: .1em;
        text-align: center;
        font-size: 9em;
        color: rgb(0, 0, 0);
        font-family: 'Kanit', sans-serif;
        font-weight: 700;
        margin-left: 200px;
        letter-spacing: 5px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 3px;
    }
    header {
    width:160%;
}
    

    .image-gallery {
        /* height: 100%; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 30px;
        /* padding-top: 1000px; */
        /* padding-bottom: 200px; */
        /* background: #FFF; */
        grid-template-areas:
        "a b c"
        "d e f"
        ;
    }
    
    /* About Me */
  

    .about-me {
        height: 100% !important;
        background-color: rgb(239, 250, 23) !important;
        padding: 10vh 50px 10vh 50px;
    }
    
    .about-me img{
      width: 60%;
    }
    
    
    .me-p{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    .about-me {
      display: grid;
      /* grid-gap: 2px; */
      grid-template-columns: 1fr 1fr;
      /* grid-template-rows: auto; */
      grid-template-areas: 
          "a b";
    }
    /* END OF ABOUT ME */
/* END OF DESKTOP GRID */